* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Generals */

body {
    /* background-color: #F6F8F9; */
    background-color: royalblue;
}

.header{
    font-family: 'Montserrat', sans-serif;
}

main {
    font-family: 'Roboto', sans-serif;
}

/* utilities */

.container {
    width: 700px;
    background-color: white;
    margin: auto;
    padding: 20px 40px;
    border-radius: 5px;
    margin-top: 1px;
}

/* header */

header {
    height: 70px;
    background-color: white;
    margin-bottom: 50px;
}

#logo {
    margin-left: 10px;
    vertical-align: middle;
}

h1 {
    line-height: 70px;
    display: inline;
    vertical-align: middle;
}

/* main */

/* task-manager*/

button {
    margin: 1px;
    display: inline-block;
    padding: 5px;
    background-color: white;
    color: gray;
    font-weight: 100;
    font-size: 12px;
    vertical-align: middle;
    border: 0.5px solid lightgray;
    border-radius: 4px;
}

button:hover {
    background-color: #1E90FF;
    color: white;
}


/*Task list */

.timeline {
    line-height: 50px;
    list-style-position: inside;
    list-style-type: "\25BC";
}

h2 {
    display: inline;
    font-size: medium;
}

.task-list {
    line-height: 40px;
    list-style-type: none;
}


/* etichette */

.pill {
    display: inline-block;
    padding: 3px 7px;
    color: white;
    line-height: normal;
    font-weight: 400;
    font-size: 10px;
    vertical-align: middle;
    border-radius: 20px;
}

.Editorial {
background-color: #45ABEA;
}

.Q1-goals {
background-color: #9C72E4 ;
}

.Recruiting {
background-color: #64C0A9 ;
}

.Mobile {
background-color: #F29E33;
}

.Website {
background-color: #D863A1 ;
}

.Sales {
background-color: #B0C926 ;    
}

/* task-items */

.task-item::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;  
}

.item-done::before {
    content:'\2713';
    color:green;
    border-color: green;
}

.item-undone::before {
    content:'\2717';
    color:red;
    border-color:red;
}

