* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */

body {
    background-color: #F6F8F9;
    font-family: Gilroy;
}



/* utilities */


.container {
    width: 700px;
    background-color: white;
    margin: auto;
}

/* header */

.header {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

#logo {
    margin: 10px 0px 10px 20px;
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align: middle;
}

/* main */
.list-header{
    padding: 20px 40px;
}


.buttons {
    margin: 1px;
    display: inline-block;
    padding: 5px;
    background-color: white;
    color: gray;
    font-family:  'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 12px;
    vertical-align: middle;
    border: 0.5px solid lightgray;
    border-radius: 4px;
}

.buttons:hover {
    background-color: #1E90FF;
    color: white;
}
